/*1 General Section*/
/*2 Header Section*/
/*3 Content Section*/
/*4 Footer Section*/

/*1 General Section*/
body {
  margin:0;
}
main {
  max-width: 1440px;
  min-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}
.row{
  display: flex;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
/*2 Header Section*/

.hero{
  width: 1440px;
  height: 630px;
  background: url(../images/your_verse_hero.jpg)50% 100% no-repeat;
}

.apple-icon{
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url(../images/globalnav_text.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.search-bar img{
  width: 30px;
  height: 30px;
}

.text-img{
  display: block;
  height: 32px;
  background-image: url(../images/cta_your_verse_27pt.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.text-img:hover{
  cursor: pointer;
  background-position: 0 -32px;
}

/*3 Content Section*/

.promos img{
  margin-top: 3px;
  padding-left: 3px;
  box-sizing: border-box;
}

.promos img:nth-child(1){
  padding-left: 0;
}

/*4 Footer Section*/
